{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
     

        <!-- PAGE TITLE-->
        <section class="page-title js-parallax-scroll p-t-175 p-b-175" style="background: url('../../static/images/home/t-three.png') center center / cover no-repeat fixed;">
            <div class="bg-overlay bg-overlay--opa30"></div>
            <div class="page-title__inner">
                <div class="container">
                    <h2>contact us</h2>
                </div>
            </div>
        </section>
        <!-- END PAGE TITLE-->

        <!-- CONTACT-->
        <section class="contact p-t-70 p-b-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="contact__image">
                            <!-- <img src="images/contact-01.jpg" alt="Victor Umber"> -->
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3829.6040057272803!2d80.42513297491105!3d16.292053733434727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4a751499cc4a53%3A0x88e3b4f830154960!2snear%2C%20Chuttugunta%20Cir%2C%20Nagarampalem%2C%20Guntur%2C%20Andhra%20Pradesh%20522004!5e0!3m2!1ste!2sin!4v1712649167074!5m2!1ste!2sin" width="100%" height="610px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="contact-info clearfix">
                            <div class="contact-info__img">
                                <div class="contact-info__img-inner">
                                    <img src="{% static 'images/home/logo-contact.png' %}" alt="Miracle Lens">
                                </div>
                            </div>
                            <div class="contact-info__content">
                                <h3>contact info</h3>
                                <ul class="list-unstyled contact-info__list">
                                    <li>
                                        <i class="fas fa-home"></i>Hanuman Nagar, 
                                        4th Line,
                                        Near Chuttugunta,
                                        Guntur (A.P) 522004</li>
                                    <li>
                                        <i class="fas fa-phone"></i>+91 91 77785 829</li>
                                    <li>
                                        <i class="fas fa-envelope"></i>contact@rishikclicks.com</li>
                                </ul>
                            </div>
                        </div>
                        <h3 class="title title--dark title--semibold m-b-35">send us message</h3>
                        <form class="form-contact" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input class="au-input au-input--full m-b-30" type="text" placeholder="Your Name">
                                </div>
                                <div class="col-lg-6">
                                    <input class="au-input au-input--full m-b-30" type="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="au-input au-textfield au-input--full" name="message" placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <button class="au-btn au-btn--dark au-btn--p70 m-t-30" type="submit">send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- END CONTACT-->

{% endblock %}