{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
     
         <!-- PAGE TITLE-->
         <section class="page-title js-parallax-scroll recent-project p-t-175 p-b-175" style="background: url('../../static/images/home/recen.png') center center / cover no-repeat fixed;">
            <div class="bg-overlay bg-overlay--opa40"></div>
            <div class="page-title__inner">
                <div class="container">
                    <h2>Recent Projects</h2>
                </div>
            </div>
        </section>
        <!-- END PAGE TITLE-->

        <!-- PROJECT INFO 3-->
        <section class="project-info-1 project-info-3 p-t-50 p-b-70" style="background-color:#041c38;">

            <div class="container">
                <h3 class="project-info__title text-center text-white">Recent Projects</h3>
                <div class="project-image-wrap">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="album-item">
                                <div class="album-item__image">
                                    <a href="project-info-v1.html">
                                        <img src="{% static 'images/home/rajasthan.png' %}" alt="firework" />
                                    </a>
                                </div>
                                <h4 class="album-item__title">
                                    <a href="project-info-v1.html" class="text-white">Punjab</a>
                                </h4>
                            </div>
                            <div class="album-item">
                                <div class="album-item__image">
                                    <a href="project-info-v1.html">
                                        <img src="{% static 'images/home/re-vtwo.png' %}" alt="girl" />
                                    </a>
                                </div>
                                <h4 class="album-item__title">
                                    <a href="project-info-v1.html"  class="text-white">Rajasthan</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="album-item">
                                <div class="album-item__image">
                                    <a href="project-info-v1.html">
                                        <img src="{% static 'images/home/r-vone.png' %}" alt="girl" />
                                    </a>
                                </div>
                                <h4 class="album-item__title">
                                    <a href="project-info-v1.html"  class="text-white">Hyderabad</a>
                                </h4>
                            </div>
                          
                            <div class="album-item">
                                <div class="album-item__image">
                                    <a href="project-info-v1.html">
                                        <img src="{% static 'images/home/kerala.png' %}" alt="firework" />
                                    </a>
                                </div>
                                <h4 class="album-item__title">
                                    <a href="project-info-v1.html"  class="text-white">kerala</a>
                                </h4>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="album-item">
                                <div class="album-item__image">
                                    <a href="project-info-v1.html">
                                        <img src="{% static 'images/home/tamilnadu.png' %}" alt="firework" />
                                    </a>
                                </div>
                                <h4 class="album-item__title">
                                    <a href="project-info-v1.html" class="text-white">Tamilnadu</a>
                                </h4>
                            </div>
                            <div class="album-item">
                                <div class="album-item__image">
                                    <a href="project-info-v1.html">
                                        <img src="{% static 'images/home/r-vthree.png' %}" alt="girl" />
                                    </a>
                                </div>
                                <h4 class="album-item__title">
                                    <a href="project-info-v1.html"  class="text-white">Goa</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
        </section>
        <!-- END PROJECT INFO 3-->

{% endblock %}